body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    background-color: aquamarine;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
h1{
    margin:auto;
}
img{
    margin: auto;
}
.display{
    margin:auto;
    margin-top: 2%;
    max-height: 90%;
    aspect-ratio: 4/3; 
}

.text{
    font-size: clamp(5pt,1.8vw,12pt);
}
.text h2{
    margin: 0;
}
.title{
    background-color: rgb(1,1,1);
    height: 13%;
    font-size: 1rem;
}

.title span{
    color: yellow;
    font-size: 5vw;
    font-style: bold;
}

.main{
    background-color: rgb(220,220,220);
    position: relative;
    height: 78%;
}

.select{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin:auto;
}
.select2{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.select3{
    height: auto;
    flex-wrap: wrap;
    width: 90%;
    margin-left:22.5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pagecontrol{
    height: 10%;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}
.pagecontrol img{
    height: 100%;
    margin: 0;
    margin-left:2%;
    margin-right:2%;
}
.sctbox_a{
    height: 5%;
    margin: .16%;
    width: 33%;
}
.sctbox_a img{
    width: 100%;
    margin: 0;
}
.sctbox_b {
    height: 20%;
    aspect-ratio: 10/3;
    background-color: rgb(65,65,65);
    border-radius: 10px;
    margin:2%;
    border: 3px solid black;
    font-size: 1.7em;
}

.sctbox_b#home_reserve{
    background-color: blue;
    font-size: 1em;
}

.sctbox_b#home_search{
    font-size: 1em;
}

.sctbox_b h1{
    text-align: left;
}

.sctbox_c{
    height: 10%;
    aspect-ratio: 20/3;
    background-color: rgb(65,65,65);
    border-radius: 10px;
    border: 3px solid black;
    font-size: .9em;
    margin:2%;
    text-align: center;
}
.sctbox_c#home_commuter{
    background-color: magenta;
}
.sctbox_x{
    height: 10%;
    aspect-ratio: 10/3;
    margin:2%;
    width: 46%;
}
.sctbox_x img{
    width: 100%;
    margin: 0;
}
.sctbox_y{
    height: 5%;
    margin:2%;
    margin-bottom: 1%;
    width: 46%;
}
.sctbox_y img{
    width: 100%;
    margin: 0;
}
.sctbox_z{
    height: 15%;
    aspect-ratio: 5/10;
    margin:2%;
    width: 46%;
}
.sctbox_z img{
    height: auto;
    width: 49%;
    margin: 0;
}
.under{
    background-color: rgb(170,170,170);
    height: 9%;
}